<% if (comment) { %>
  <div style="width: 50%">
    <hr>
    <p>
      <%= comment.body %>
    </p>
    <small class="card-subtitle mb-2 text-muted">
      Created: <%= comment.createdAt %>
    </small>

    <% if (currentUser && (currentUser.id === comment.userId || currentUser.isAdmin())) { %>
      <form style="display:initial"
            action="/topics/<%= hack.topicId %>/hacks/<%= hack.id %>/comments/<%= comment.id %>/destroy"
            method="post">
          <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
      </form>
    <% } %>
    <hr>
  </div>
<% } %>
